.creds {
    margin-left: 1rem;
}

.listingTitle {
    margin-left: 1rem;
}

.editDelete {
    display: flex;
}

.delete {
    height: 2.25rem;
}

.noListings {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vw;
}

.cardContainer {
width: 100%;

}
.container {
    display: flex;
}