.card {
    width: 14rem;
    margin: 1rem;
    min-width: 14rem;
    border: none;
}

.cardContainer {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.links {
    display: flex;
    justify-content: space-around;
}

.detail,
.buy {
    background-color: black;
    color: white;
    border: wheat;
}

.itemtitle {
    font-size: 1rem;
}

.searchBar {
    display: flex;
    justify-content: center;
}